.fld-reviews__heading {
  /* margin: 0; */
}

.customer-reviews-top .star-label {
  margin-left: 1rem;
}

.fld-reviews {
  display: flex;
  gap: 2rem;
}

.review-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.reviewer-name {
  font-size: 1.5rem;
  margin: 0;
}

.review.card {
  margin: 0 0 3.5rem 0;
  height: auto !important;
}

.review-title {
  margin: 0;
}

.review-content {
  letter-spacing: 0;
  margin: 0;
}

.form-wrapper {
  max-width: 500px;
}

.btn.btn-primary {
  font-size: 1.75rem;
}

.review-overview {
  max-width: 300px;
  width: 100%;
  padding-right: 2rem;
  border-right: 1px solid #bbbfbf;
}

.review-wrapper {
  width: 100%;
}

.star-wrapper {
  margin: 1rem 0 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.star-wrapper svg {
  color: #ffa41c;
}

.star-wrapper .ratings-count {
  line-height: 1 !important;
}

.star-wrapper span {
  height: 24px;
}

.rating-count.caption {
  display: none;
}

.review .star-wrapper {
  gap: 1rem;
}

.review .star-wrapper .stars {
  display: flex;
}

.star-wrapper .ratings-count {
  margin-left: 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

div.number-of-ratings {
  margin-top: 0.5rem;
}

.star-label {
  font-weight: medium;
}

.review-overview hr {
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #bbbfbf;
  display: block;
  height: 1px;
  line-height: 19px;
  margin: 24px 0 !important;
}

.customer-reviews-bottom .button-wrapper {
  margin-top: 24px;
}

/* spinner */

.lds-ring {
  /* change color here */
  color: #1c4c5b;
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#fld-reviews.fld-reviews--layout-header {
  display: block;
}

#fld-reviews.fld-reviews--layout-header .review-overview {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-right: unset;
  border-bottom: 1px solid #bbbfbf;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  align-items: flex-end;
}

#fld-reviews.fld-reviews--layout-header .review-overview hr {
  display: none;
}

#fld-reviews.fld-reviews--layout-header
  .review-overview
  h2.fld-reviews__heading {
  margin-top: 0;
}

#fld-reviews.fld-reviews--layout-header
  .review-overview
  .customer-reviews-bottom
  .fld-reviews__heading,
#fld-reviews.fld-reviews--layout-header
  .review-overview
  .customer-reviews-bottom
  small {
  display: none;
}

#fld-reviews.fld-reviews--layout-header
  .review-overview
  .customer-reviews-bottom
  .button-wrapper {
  margin: 0;
}

#fld-reviews .filters {
  border-bottom: 1px solid #bbbfbf;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.review .helpful-wrapper {
  margin-top: 1.5rem;
}

.review .helpful-wrapper .button-wrapper {
  margin-top: 0.5rem;
}

.review .helpful-wrapper .button-wrapper button {
  /* font-size: 1rem; */
  height: 30px;
  min-height: 30px;
  padding: 0 2rem;
  min-width: 40px;
  font-size: 1.25rem;
  letter-spacing: 0;
}

.review .helpful-wrapper .button-wrapper small {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.review .helpful-wrapper .button-wrapper small.success {
  color: #067d62;
}

.review .helpful-wrapper .button-wrapper small.error {
  color: #dc3545;
}

.reviews-breakdown {
  margin-top: 2rem;
}

.reviews-breakdown table {
  width: 100%;
  border: 0;
  box-shadow: unset;
}

.review-content .remaining {
  display: none;
}

.read-more-button {
  min-height: unset;
  min-width: unset;
  background: unset;
  border: unset;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.review-content.show-full-review .remaining {
  display: inline;
}

.review-content.show-full-review .read-more-button,
.review-content.show-full-review .ellipsis {
  display: none;
}

.reviews-breakdown table .progress-bar {
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #bbbfbf;
  background-color: #f0f2f2;
  height: 20px;
}

.reviews-breakdown table td {
  padding: 0;
  border: 0;
}

.reviews-breakdown table td:nth-of-type(2) {
  width: 70%;
}

.reviews-breakdown table td:nth-of-type(3) {
  text-align: right;
}

.reviews-breakdown table .progress-bar span {
  background: #ffa41c;
  height: 100%;
  display: block;
}

.load-more-button-wrapper {
  justify-content: center;
  display: flex;
}

.filters .filter {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.filters .filter .select {
  max-width: 400px;
}

@media screen and (max-width: 900px) {
  .fld-reviews {
    flex-direction: column;
    gap: 0;
  }

  .review-overview {
    max-width: 100%;
    border-right: 0;
    border-top: 1px solid #bbbfbf;
  }

  .filters .filter {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
}
