{% assign avg_rating = block.settings.product.metafields.fld.avg_rating.value | round %}
{% assign number_of_reviews = block.settings.product.metafields.fld.reviews.value | size %}

<a href="#fld-reviews" style="text-decoration: none">
  {% render 'stars', rating: avg_rating, count: number_of_reviews, color: block.settings.colour %}
</a>

{% schema %}
  {
    "name": "Star Rating",
    "target": "section",
    "settings": [
      { "type": "product", "id": "product", "label": "product", "autofill": true },
      { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ffa41c" }
    ]
  }
{% endschema %}

