{% assign baseUrl = 'https://techno-diagram-portrait-blond.trycloudflare.com' %}
{% assign submitPath = 'app/publicReviews/' %}

<div class="form-wrapper card mt-5">
    <div class="card-body">
      <form id="review-submit-form" method="POST" action="{{baseUrl}}/{{submitPath}}">
        <h2>Write a review</h2>
        <div class="form-group mb-3">
          <label class="form-label">Rating</label>
          <select class="form-select form-select-lg" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Title</label>
          <input type="text" name="title" value="" class="form-control form-control-lg"/>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Review</label>
          <textarea type="text" name="reviewContent" class="form-control form-control-lg"></textarea>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="user_name" value="" class="form-control form-control-lg" />
        </div>
        <div class="form-group mt-5 mb-4">
          <button class="btn btn-primary btn-xl px-5" style="font-size: 2rem">Submit</button>
        </div>
        <input type="hidden" name="productId" value="gid://shopify/Product/{{product.id}}">
        <input type="hidden" name="productVariantId" value="gid://shopify/Product/{{product.selected_or_first_available_variant.id}}">
      </form>
    </div>
  </div>