<div class="modal review-modal">
  <div class="modal-background"></div>
  <div class="modal-dialog">
    <div class="modal-header">
      <button>Close</button>
    </div>
    <div class="modal-body">
      <h2>Create Review</h2>
      <div class="product-info form-group">
        <img src="{{ product.images[0] | product_img_url: 'large' }}" width="62" height="62" />
        <p>{{product.title}}</p>
      </div>
      <hr />
      <div class="overall-rating form-group">
        <h3>Overall Rating</h3>
        <div class="star-wrapper">
          {% for i in (1..5) %}
            <div class="star-io">
              <span class="filled">
                <svg fill="currentcolor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
              </span>
              <span class="outline">
                <svg fill="currentcolor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 6.76l1.379 4.246h4.465l-3.612 2.625 1.379 4.246-3.611-2.625-3.612 2.625 1.379-4.246-3.612-2.625h4.465l1.38-4.246zm0-6.472l-2.833 8.718h-9.167l7.416 5.389-2.833 8.718 7.417-5.388 7.416 5.388-2.833-8.718 7.417-5.389h-9.167l-2.833-8.718z"/></svg>
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr />
      <div class="headline-wrapper form-group">
        <h3>Add a headline</h3>
        <input type="text" placeholder="What's the most important thing to know?" />
      </div>
      <hr />
      <div class="headline-wrapper form-group">
        <h3>Add a written review</h3>
        <textarea placeholder="What did you like or dislike? What did you use this product for?"></textarea>
      </div>
      <hr />
      <div class="button-wrapper">
        <button class="button  button--secondary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>